<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipic">
        <activity
            android:name=".Recommendations"
            android:exported="false" />
        <activity
            android:name=".dessert"
            android:exported="false" />
        <activity
            android:name=".dinner"
            android:exported="false" />
        <activity
            android:name=".lunch"
            android:exported="false" />
        <activity
            android:name=".breakfast"
            android:exported="false" />
        <activity
            android:name=".category"
            android:exported="false" />
        <activity
            android:name=".objectprocessor"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>